<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Contact Mail! </h2>
  <label style="font-weight:bold;">Name: </label><span>{{name}}</span><br/>
  <label style="font-weight:bold;">Email: </label><span>{{email}}</span><br/>
  <label style="font-weight:bold;">Phone: </label><span>{{phone}}</span><br/>
  <label style="font-weight:bold;">Subject: </label><span>{{subject}}</span><br/>
  <label style="font-weight:bold;">Message: </label><span>{{message}}</span><br/>

</body>
</html>